@use "./variables/colors" as *;
@use "./variables/shadows" as *;
@use "./variables/breakpoints" as *;
@use "./variables/zindex" as *;
@use "./variables/fonts" as *;
@use "./variables/border-radius" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
  letter-spacing: 0.5px;
  font-family: $font-title;
  word-wrap: break-word;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin: 0;
  background: $dark-blue;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 80px;
}

// Prevent scroll hook under 920px
.body-prevent-scroll {
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  line-height: 1.9rem;
  font-weight: 600;
}

input,
label,
textarea {
  line-height: 1.9rem;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-family: $font-body;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-size: 1rem;
  outline: none;
}

ul,
li {
  list-style-type: none;
}

li {
  font-size: 1.125rem;
  cursor: pointer;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
}

.container {
  padding: 0 1.5rem;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
}

section {
  padding: 1.5rem 0 3rem 0;
}

@media only screen and (min-width: $breakpoint-sm) {
  h1 {
    font-size: 5rem;
    line-height: 5.5rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 3.75rem;
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .container {
    padding: 0 2rem;
  }

  li a {
    transition: color 0.1s ease-in-out;

    &:hover {
      color: $orange;
    }
  }
}

// @media only screen and (min-width: $breakpoint-lg) {
//   .main {
//     padding: 0;
//     min-height: calc(100% - 80px);

//     &.main-remove {
//       min-height: 100% !important;
//     }
//   }

//   .body-prevent-scroll {
//     overflow: initial;
//   }

//   h1 {
//     font-size: 4rem;
//     line-height: 4.75rem;
//   }
// }

@media only screen and (min-width: $breakpoint-xl) {
  .container {
    max-width: $breakpoint-xl;
  }

  // h1 {
  //   font-size: 9rem;
  //   line-height: 10rem;
  // }

  // h2 {
  //   font-size: 6rem;
  //   line-height: 7rem;
  // }

  // h2 {
  //   font-size: 6rem;
  //   line-height: 7rem;
  // }
}
